div.entityIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;

    p.content {
        width: 100%;
        text-align: center;
        font-size: 32px;
        margin-top: 3px;
    }
}
