div.messageImportStatsViewer {
    border-top-color: inherit;
    box-sizing: border-box;
    border-top: 1px solid;
    padding: 12px 6px;
    display: none;
    width: 100%;

    &[data-show="true"]{
        display: block;
    }

    p.title {
        margin: 0;
    }

    div.progressBar {
        box-sizing: border-box;
        border: 1px solid;
        border-color: inherit;
        border-radius: 5px;
        margin-top: 12px;
        display: block;
        width: 100%;
        height: 7px;

        div.progressBarValue {
            transition: width .25s ease-in-out;
            will-change: width;
            border-radius: 5px;
            max-width: 100%;
            display: block;
            height: 100%;
        }
    }

    p.stats {
        font-style: italic;
        margin: 3px 0 0;
        font-size: 13px;
    }
}
