div.searchEngine {
    padding: 12px 9px 0 9px;
    box-sizing: border-box;

    ul.searchResults {
        box-sizing: border-box;
        padding: 0 0 12px 0;
        list-style: none;
        width: 100%;
        margin: 0;

        li {
            margin-top: 12px;

            &.emptyElement {
                text-align: center;
                font-size: 14px;
                font-style: italic;
            }

            &:first-child {
                margin: 0 !important;
            }
        }
    }

    div.searchDisabledMessage {
        text-align: center;
        font-style: italic;

        p.subtitle {
            font-size: 11px;
            margin: 3px 0 0 0;
        }

        p.title {
            font-size: 14px;
            margin: 0;
        }
    }

    div.loadingMessage {
        text-align: center;

        p.label {
            vertical-align: middle;
            display: inline-block;
            font-style: italic;
            font-size: 14px;
            margin: 0;
        }

        div.loader {
            vertical-align: middle;
            display: inline-block;
            height: 24px;
            width: 24px;
        }
    }
}
