div.searchEngine {
    padding: 12px 9px 0 9px;
    box-sizing: border-box;

    ul.searchResults {
        list-style: none;
        padding: 0;
        margin: 12px 0 0;
        width: 100%;

        li {

        }
    }
}
