div.searchEngine {
    padding: 12px 9px 0 9px;
    box-sizing: border-box;

    ul.searchResults {
        list-style: none;
        padding: 0;
        margin: 12px 0 0;
        width: 100%;

        li {
            margin-top: 12px;

            &.emptyElement {
                text-align: center;
                font-size: 14px;
                font-style: italic;
            }

            &:first-child {
                margin: 0 !important;
            }
        }
    }

    div.searchDisabledMessage {
        text-align: center;
        font-style: italic;

        p.subtitle {
            font-size: 11px;
            margin: 3px 0 0 0;
        }

        p.title {
            font-size: 14px;
            margin: 0;
        }
    }
}
