div.view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #34495e;
    display: flex;
    box-sizing: border-box;

    @media(display-mode: standalone){
        & {
            padding-top: 54px;
        }
    }

    div.sideBar {
        border-right: 1px solid #2c3e50;
        height: 100%;
        width: 350px;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        flex-shrink: 0;

        div.conversationList {
            flex-grow: 1;
        }
    }

    div.conversationViewerList {
        flex-grow: 1;
        min-width: 0;
    }

    @media ( max-width: 480px ) {
        & {
            display: block;

            div.sideBar, div.conversationViewerList {
                transition: left .25s ease-in-out;
                background-color: #34495e;
                position: absolute;
                will-change: left;
                height: 100%;
                width: 100%;
                z-index: 2;
                top: 0;
            }

            &[data-conversation-selected="true"] {
                div.sideBar {
                    left: -100%;
                }

                div.conversationViewerList {
                    left: 0;
                }
            }

            div.sideBar {
                left: 0;
            }

            div.conversationViewerList {
                left: 100%;
            }
        }
    }

    div.conversation {
        flex-grow: 1;
        display: none;
        flex-direction: column;

        &[data-enabled="true"]{
            display: flex;
        }

        div.conversationViewer {
            flex-grow: 1;
        }
    }
}
