div.localePicker {
    position: relative;

    div.icon {
        border-radius: 12px;
        cursor: pointer;
        height: 24px;
        width: 24px;
    }

    div.picker {
        position: absolute;
        border-radius: 3px;
        padding: 6px;
        bottom: 30px;
        display: none;
        z-index: 20;
        right: 0;

        &[data-show="true"] {
            display: block;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                cursor: pointer;
            }
        }
    }

    div.overlay {
        position: fixed;
        display: none;
        height: 100%;
        z-index: 10;
        width: 100%;
        left: 0;
        top: 0;

        &[data-show="true"] {
            display: block;
        }
    }
}
