div.logo {
    position: relative;
    width: 335px;
    height: 200px;
    margin: auto;

    div.dot {
        top: 161px;
        height: 36px;
        width: 36px;
        background-color: #ddd;
        border-radius: 50px;
        position: absolute;
    }

    div.verticalLine {
        width: 25px;
        height: 140px;
        background-color: #ddd;
        left: 45px;
        position: absolute;
        top: 15px;
    }

    div.horizontalLine {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 290px;
        height: 25px;
        background-color: #ddd;
        left: 45px;
        position: absolute;
        top: 166px;
    }

    p.text {
        color: #ddd;
        font-size: 170px;
        position: absolute;
        left: 77px;
        top: 9px;
        margin: 0;
        line-height: 1;
        font-weight: 600;
    }
}
