form.form {
    a, a:active {
        transition: color 0.25s ease-in-out;
        text-decoration: none;
        will-change: color;
        cursor: pointer;
        color: darken(#2c3e50, 15%);

        &:hover {
            color: darken(#2c3e50, 25%);
        }
    }

    div.fieldSet {
        margin-top: 36px;

        div.field {
            margin-top: 12px;
        }

        div.submit {
            margin-top: 36px;
            text-align: center;

            input.button {
                transition: background-color .25s ease-in-out;
                will-change: background-color;
                background-color: #2c3e50;
                border: none;
                padding: 9px 18px;
                border-radius: 3px;
                color: #ddd;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: darken(#2c3e50, 15%);
                }
            }
        }
    }
}
