form.form {
    div.fieldSet {
        margin-top: 36px;

        div.field {
            margin-top: 12px;
        }

        div.submit {
            margin-top: 36px;
            text-align: center;
        }
    }
}
