div.submitButton {
    display: inline-block;
    position: relative;
    border-radius: 3px;

    &[data-status="loading"] {
        div.loader {
            display: block;
        }

        input[type="submit"] {
            visibility: hidden;
        }
    }

    input[type="submit"] {
        background-color: inherit !important;
    }

    div.loader {
        width: 100%;
        height: 100%;
        background-size: 38px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
        display: none;
        z-index: 5;
    }
}
