div.messageBox {
    transition: opacity .25s ease-in-out;
    will-change: opacity;
    position: absolute;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    div.overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 20;
    }

    div.dialog {
        box-sizing: border-box;
        text-align: center;
        align-self: center;
        border-radius: 3px;
        max-width: 400px;
        padding: 12px;
        margin: auto;
        z-index: 25;
        width: 90%;

        &[data-with-border="true"] {
            border-color: inherit !important;
            border: 3px solid;
        }

        p.title {
            font-size: 22px;
            margin: 0;

            &:empty {
                display: none;
            }
        }

        p.text {
            margin: 3px 0 0;
            font-size: 14px;

            &[data-no-title="true"] {
                font-size: 18px;
            }

            &:empty {
                display: none;
            }
        }

        div.controls {
            justify-content: space-between;
            flex-direction: row-reverse;
            margin-top: 32px;
            display: flex;
        }
    }

    &[data-active="false"] {
        opacity: 0;
    }
}
