div.view {
    box-sizing: border-box;
    padding-bottom: 84px;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    div.contentWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        width: 100%;

        div.container {
            max-width: 500px;
            display: none;
            width: 90%;

            &[data-active="true"] {
                display: block;
            }

            div.logo {
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 200px;
                margin: auto;
            }

            @media(max-width: 480px) {
                div.logo {
                    height: 125px;
                }
            }

            p.catchPhrase {
                text-align: center;
                margin: 18px 0 0;
                font-size: 20px;
            }

            @media(max-width: 375px) {
                div.logo {
                    height: 90px;
                }

                p.catchPhrase {
                    margin: 12px 0 0;
                    font-size: 16px;
                }
            }

            div.formWrapper {
                display: none;

                &[data-active="true"] {
                    display: block;
                }

                p.question {
                    font-size: 16px;
                    margin: 0;
                }

                p.answer {
                    font-size: 14px;
                    margin: 0;
                }

                @media(max-width: 375px) {
                    p.question {
                        font-size: 14px;
                    }

                    p.answer {
                        font-size: 12px;
                    }
                }

                div.bottomText {
                    margin-top: 18px;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
