footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    div.container {
        width: 100%;
        max-width: 1200px;
        padding: 6px 12px;
        box-sizing: border-box;
        margin: auto;
        display: flex;

        @media (max-width: 480px){
            & {
                flex-direction: column-reverse;

                div.rightContent {
                    text-align: left !important;
                    max-width: 100% !important;
                    width: 100% !important;
                }
            }
        }

        div.leftContent {
            flex-grow: 1;

            p.info {
                margin: 0;
                font-size: 14px;
            }
        }

        div.rightContent {
            align-self: center;
            text-align: right;
            flex-shrink: 0;
            max-width: 50%;
            width: 500px;

            div.localePickerContainer {
                margin-left: 12px;
                float: right;
            }

            p.credits {
                margin: 0;
            }
        }
    }
}
