div.field {
    &[data-disabled="true"] {
        filter: grayscale(1);
        opacity: 0.5;
    }

    div.fieldWrapper {
        position: relative;
        border: 3px solid;
        border-color: inherit;
        border-radius: 3px;
        padding: 3px;
        box-sizing: border-box;
        width: 100%;
        display: flex;

        &[data-focus="false"] label.label {
            background-color: transparent !important;
        }

        &[data-focus="true"] label.label {
            font-size: 14px;
            top: -12px;
            left: 3px;
            padding: 0 3px;
            z-index: 10;
        }

        label.label {
            will-change: font-size, top, left, padding;
            transition: all .2s ease-in-out;
            box-sizing: border-box;
            position: absolute;
            font-size: 16px;
            top: 5px;
            left: 6px;
            z-index: -1;
        }

        input.input {
            background-color: transparent;
            border: 0;
            width: 100%;
            padding: 3px;
            font-size: 16px;
            box-sizing: border-box;
            outline: none;
            flex-grow: 1;

            &:autofill, &:-webkit-autofill {
                background-color: transparent !important;
                background-image: unset !important;
                filter: unset !important;
            }
        }

        div.clearButton {
            align-self: center;
            padding: 0 3px 0 9px;

            svg {
                color: #999;
                cursor: pointer;
            }
        }
    }

    p.errorMessage {
        font-size: 14px;
        margin: -2px 0 0 2px;
    }
}