div.formContainer {
    div.field {
        margin-top: 12px;

        p.question {
            font-size: 17px;
            margin: 0;
        }

        p.answer {
            font-style: italic;
            margin: 3px 0 0 0;
            font-size: 14px;
        }
    }

    div.submit {
        margin-top: 36px;
        text-align: center;
    }
}
