div.formContainer {
    div.field {
        margin-top: 12px;

        p.question {
            font-size: 17px;
            margin: 0;
        }

        p.answer {
            font-style: italic;
            margin: 3px 0 0 0;
            font-size: 14px;
        }

        @media(max-width: 375px) {
            p.question {
                font-size: 14px;
            }

            p.answer {
                font-size: 12px;
            }
        }
    }

    div.submit {
        margin-top: 36px;
        text-align: center;
    }

    @media(max-width: 375px) {
        div.submit {
            margin-top: 24px;
        }
    }
}
